boto3
cellpose>=4.0
cython
docutils
google-cloud-storage
h5py
matplotlib
networkx>=3.0
numexpr
numpy==1.26.4
opencv-python
pandas
pulp==2.7.0
pyclustering
pyqt5
pytest
pytest-cov
python-dotenv
requests
rtree
scikit-image
scikit-learn
scipy
seaborn
setuptools==73.0.1
shapely>=2.0
snakemake==7.32.4
Sphinx
sphinx-rtd-theme
tables
tifffile==2024.8.30
urllib3
xmltodict
tensorflow
csbdeep
zarr