big-fish
boto3
cellpose>=4.0
cython
docutils
geopandas
google-cloud-storage
h5py
matplotlib
networkx>=3.0
numexpr
numpy==1.26.4
opencv-python
pandas
pulp==2.7.0
pyarrow
pyclustering
pyqt5
pytest
pytest-cov
python-dotenv
pyyaml
requests
rtree
scikit-image
scikit-learn
scipy
seaborn
setuptools==83.0.0
shapely>=2.0
snakemake>=8.0
snakemake-executor-plugin-slurm
Sphinx
sphinx-rtd-theme
tables
tifffile==2024.8.30
urllib3
xmltodict
tensorflow
csbdeep
zarr